<div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <%= f.check_box :correct, type: 'checkbox' %>
    </div>
  </div>
  <%= f.text_field :content, class: 'form-control col-md-6', placeholder: "Enter word answer's content" %>
</div>
